@font-face {
    font-family: digitalFont;
    src: url(../fonts/digital-dream.fat.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-img {
    width: 100%;
    height: 100%;
    background-image: url(../images/mountain-climbing.jpg);
    filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.bg-button {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding: 6px;
    border: 1px dotted black;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(208, 208, 208, 0.5);
}

.bg-button:hover {
    color: red;
    background-color: black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
    padding: 30px;
    border-radius: 5px;
    background-color: black;
    min-width: 460px;
}

.clock {
    margin-bottom: 20px;
}

.digit,
.milli {
    display: inline;
    color: red;
    font-size: 60px;
    font-family: digitalFont, sans-serif;
    margin: 0;
}

.milli-container {
    position: absolute;
    top: 100px;
    left: 410px;
}

.milli {
    font-size: 10px;
}

.button {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid white;
    min-width: 67px;
}

#start-stop-button {
    background-color: green;
}
#split-button {
    background-color: yellow;
}

#reset-button {
    color: white;
    background-color: black;
}

#start-stop-button,
#split-button,
#reset-button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.times-container {
    position: absolute;
    top: 200px;
    width: 460px;
    max-height: 300px;

    display: none;

    list-style-position: inside;

    color: red;
    font-family: digitalFont, sans-serif;
    font-size: 20px;

    padding: 0px 0 20px 0px;

    border-radius: 5px;
    background-color: black;

    overflow-y: scroll;
}

.clear-button {
    position: relative;
    left: 400px;
    color: white;
    padding: 2px;
    border: 1px solid white;
    background-color: black;
}

.clear-button:hover {
    color: red;
}

.list-item {
    text-align: center;
    margin-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: red;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
